<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Blockchain Voting App</title>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600'>
      <link rel="stylesheet" href="css/style.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha1.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha1.js"></script>
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
      
      <script type="text/javascript">

        web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
json_string='[{"constant":false,"inputs":[{"name":"_user_id","type":"string"},{"name":"_encryption_key_hash","type":"string"}],"name":"addUser","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_user_id","type":"string"},{"name":"_hash","type":"string"}],"name":"storeHash","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_user_id","type":"string"},{"name":"_link","type":"string"}],"name":"storeLink","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[],"name":"totalUsers","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_user_id","type":"string"},{"name":"_encryption_key_hash","type":"string"}],"name":"retrieveLink","outputs":[{"name":"","type":"string"},{"name":"","type":"string"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_user_id","type":"string"},{"name":"_encryption_key_hash","type":"string"}],"name":"_isValid","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"}]';

abi = JSON.parse(json_string);
VotingContract = web3.eth.contract(abi)
var contractInstance = VotingContract.at('0xf9b8a2f28addf77e182f7dcc4453d7d9986ee5eb');

// block chain work above this line

var encryption_key_hash = "";
var user_inc_id="<%= @user.inc_id.to_s %>";

function submitButton(){
        if(validateProfileUpdate()){          
            var encryption_key= document.forms[0].key.value;
            console.log("Put in blockchain "+encryption_key+" "+user_inc_id);

            if(document.forms[0].key_confirm){ // to check for first time only
              hash = CryptoJS.SHA1(encryption_key);
              encryption_key_hash= CryptoJS.enc.Hex.stringify(hash);

              contractInstance.addUser(user_inc_id, encryption_key_hash,{from: web3.eth.accounts[0]}, function(result){
                
                document.forms[0].key.value = hash;
                document.forms[0].key_confirm.value = hash;

                console.log("user added in blockchain");    
            
                $("form").submit();
              }) 
            }else{
               $("form").submit();
            }   
          }else{
            console.log("fields validation failed");
          }
}

      </script>
</head>
<body>
  <div class="cont_principal">
  <div class="cont_centrar_dashboard" style="background: #fbd9d7">  	
    <div class="profile_update_div">
      <form action="/profile" method="post">
      <span class="profile_label">Name</span>
      <input type="text" class="input_form_profile" placeholder="Update Name" name="full_name" value="<%= @user.full_name %>"/><br>
      <span class="profile_label">Email</span>
      <input type="text" class="input_form_profile" placeholder="Update Email" name="email" value="<%= @user.email %>"/><br>
      <span class="profile_label">Adhaar</span>
      <input type="text" class="input_form_profile" placeholder="Update Adhaar" name="adhaar" value="<%= @user.adhaar %>"/><br>
      <span class="profile_label">Area</span>
      <input type="text" class="input_form_profile" placeholder="Update Area" name="area" value="<%= @user.area %>"/><br>
      <span class="profile_label">Dob</span>
      <input type="text" class="input_form_profile" placeholder="Update Dob" name="dob" value="<%= @user.dob %>"/><br>      
      <span class="profile_label">Contact</span>
      <input type="text" class="input_form_profile" placeholder="Update Contact" name="contact"  value="<%= @user.contact %>"/>
      <br>

      <%if @user.encryption_key.blank? %>
        <span class="profile_label">Encryption Key</span>
        <input type="text" class="input_form_profile" placeholder="Enter Encryption Key" name="key"/>
        <br>
        <span class="profile_label">Confirm Encryption Key</span>
        <input type="text" class="input_form_profile" placeholder="Re-Enter Encryption Key" name="key_confirm"/>
      <%else%>
        <span class="profile_label">Hashed Encryption Key</span>
        <input type="text" class="input_form_profile" disabled="disabled" placeholder="Enter Encryption Key" name="key" value="<%= @user.encryption_key%>"/>
      <%end%>

      <br>

      <button type="button" class="update_profile_btn" onclick="submitButton()">Update Profile</button>
      
      </form>    
    </div>
      </div>    
  </div>
  </div>
</body>
</html>
